﻿<!DOCTYPE html>
<html>
<head>
    <title>TheheGEO Homepage</title>
	<meta charset="utf-8" />    
    <script src="Content/bower_components/angular/angular.min.js"></script>
    <script src="Content/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="IntroApp/app.js"></script>
    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="Content/assets/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="Content/assets/css/animate.css" type="text/css">
    <link rel="stylesheet" href="Content/assets/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="Content/assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="Content/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="Content/assets/demo/demo.css" type="text/css">

    <!-- custom background -->
    <link rel="stylesheet" href="Content/assets/css/bg.css" type="text/css">
</head>
<body>
    <div id="wrapper" ng-app="IntroApp">
        <!-- header begin -->  
        <header>
            <div class="info" ng-controller="homeController">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col"><span class="id-color"><i class="fa fa-map-marker"></i></span>{{footer.address}}</div>
                            <div class="col"><span class="id-color"><i class="fa fa-clock-o"></i></span>{{footer.timeOpen}}</div>
                            <div class="col"><span class="id-color"><i class="fa fa-phone"></i></span>{{footer.phoneNumber}}</div>
                            <div class="col">
                                <div id="lang-selector" class="dropdown">
                                    <a href="#" class="btn-selector">Tiếng Việt</a>
                                    <ul>
                                        <li class="active"><a href="#">Tiếng Việt</a></li>
                                        <li><a href="#">English</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 text-right">
                            <!-- social icons -->
                            <div class="col social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                            <!-- social icons close -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- logo begin -->
                        <div id="logo">
                            <a href="index.html">
                              <img class="logo" src="/Content/client/images/logo.png" alt="">
                                <img class="logo-2" src="/Content/client/images/logo-2.png" alt="">
                            </a>
                        </div>
                        <!-- logo close -->
                        <!-- small button begin -->
                        <span id="menu-btn"></span>
                        <!-- small button close -->
                        <!-- mainmenu begin -->
                        <nav>
                            <ul id="mainmenu">
                                <li>
                                    <a ui-sref="home">Home</a>   
                                </li>
                                <li>
                                    <a ui-sref="what-we-do">What We Do</a>     
                                </li>
                                <li>
                                    <a href="services.html">Services</a>
                                    <ul>
                                        <li><a href="service-1.html">General Consulting</a></li>
                                        <li><a href="service-2.html">Construction Management</a></li>
                                        <li><a href="service-3.html">Design and Build</a></li>
                                        <li><a href="service-4.html">Preconstruction Consulting</a></li>
                                        <li><a href="service-5.html">Special Projects</a></li>
                                        <li><a href="service-6.html">Renovations</a></li>
                                        <li><a href="services.html">All Services</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a ui-sref="about">About Us</a>
                                </li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a ui-sref="contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- mainmenu close -->
                </div>
            </div>
        </header>
        <!-- header close -->

        <!-- content angular begin -->
        <div class="IntroAppView">
            <div ui-view></div>
        </div>
        <!-- content angular end -->

     
        <!-- footer begin -->
        <footer ng-controller="homeController">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="Content/assets/images/logo.png" class="logo-small" alt=""><br>
                    </div>
                    <div class="col-md-4">
                        <div class="widget widget_recent_post">
                            <h3>Latest News</h3>
                            <ul>
                                <li><a href="#">5 Things That Take a Room from Good to Great</a></li>
                                <li><a href="#">Functional and Stylish Wall-to-Wall Shelves</a></li>
                                <li><a href="#">9 Unique and Unusual Ways to Display Your TV</a></li>
                                <li><a href="#">The 5 Secrets to Pulling Off Simple, Minimal Design</a></li>
                                <li><a href="#">How to Make a Huge Impact With Multiples</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Contact Us</h3>
                        <div class="widget widget-address">
                            <address>
                                <span>Name: {{footer.name}}</span>
                                <span><strong>Phone:</strong>{{footer.phoneNumber}}</span>                               
                                <span><strong>Email:</strong><a href="mailto:{{footer.Email}}">{{footer.Email}}</a></span>                                
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            &copy; Copyright 2016 - {{footer.COPYRIGHT}}
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="social-icons">
                                <a href="{{footer.Facebook}}"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                                <a href="{{footer.Google}}"><i class="fa fa-google-plus fa-lg"></i></a>
                                <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                                <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
        <a href="#" id="back-to-top"></a>
        <div id="preloader">
            <div class="preloader1"></div>
        </div>
    </div>
   
    <!-- Javascript Files
    ================================================== -->
    <script src="Content/assets/js/jquery.min.js"></script>
    <script src="Content/assets/js/bootstrap.min.js"></script>
    <script src="Content/assets/js/jquery.isotope.min.js"></script>
    <script src="Content/assets/js/easing.js"></script>
    <script src="Content/assets/js/owl.carousel.js"></script>
    <script src="Content/assets/js/jquery.countTo.js"></script>
    <script src="Content/assets/js/validation.js"></script>
    <script src="Content/assets/js/wow.min.js"></script>
    <script src="Content/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="Content/assets/js/enquire.min.js"></script>
    <script src="Content/assets/js/jquery.stellar.min.js"></script>
    <script src="Content/assets/js/designesia.js"></script>
    <script src="Content/assets/demo/demo.js"></script>
</body>
</html>
