﻿<div> {{home.Slogan}}   </div>
<div> {{home.Mission}}   </div>
<div> {{home.Vision}}   </div> 
  <!-- content begin -->
<div id="content" class="no-bottom no-top">
    <!-- section begin -->
    <section id="section-hero-2" class="full-height text-light relative" data-stellar-background-ratio=".2">
        <div class="center-y fadeScroll text-center relative" data-scroll-speed="1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="spacer-double"></div>
                        <h1 class="big wow fadeInUp" data-wow-delay=".5s">It's Your Dream</h1>
                        <br>
                        <div class="h2_title wow fadeInUp" data-wow-delay=".8s">
                            <div class="text-slider id-color" ng-repeat="slide in slides">
                                <span class="text-item">{{slide.Name}}  -  {{slide.Url}}</span>
                                <!--<span class="text-item">Slider text 1</span>
                                <span class="text-item">We Are Building</span>
                                <span class="text-item">We Are Planning</span>-->
                            </div>
                        </div>
                        <p class="wow fadeInUp" data-wow-delay="1.1s">
                            We are team based on Brookylin. Our expertise on construction. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#section-about" class="scroll-to" target="_self">
            <span class="mouse fadeScroll relative" data-scroll-speed="2">
                <span class="scroll"></span>
            </span>
        </a>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section class="call-to-action bg-color dark pt20 pb20" data-speed="5" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="mt10" ng-controller="homeController">{{content.slogan}}Looking for best partner for your next construction works?</h3>
                </div>
                <div class="col-md-4 text-right">
                    <a href="contact.html" class="btn btn-line-black btn-fx">Hire Us Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <!-- section begin -->
    <section id="section-fun-facts" class="pt60 pb60">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeIn" data-wow-delay="0">
                    <div class="de_count">
                        <i class="icon_clock_alt id-color" data-animation="fadeInDown" data-delay="0"></i>
                        <h3 class="timer" data-to="8350" data-speed="2500">0</h3>
                        <span>Hours of Works</span>
                    </div>
                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay=".25s">
                    <div class="de_count">
                        <i class="icon_documents_alt  id-color" data-animation="fadeInDown" data-delay="200"></i>
                        <h3 class="timer" data-to="240" data-speed="2500">0</h3>
                        <span>Projects Complete</span>
                    </div>
                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay=".5s">
                    <div class="de_count">
                        <i class="icon_comment_alt  id-color" data-animation="fadeInDown" data-delay="400"></i>
                        <h3 class="timer" data-to="120" data-speed="2500">0</h3>
                        <span>Feedback Received</span>
                    </div>
                </div>
                <div class="col-md-3 wow fadeIn" data-wow-delay=".75s">
                    <div class="de_count">
                        <i class="icon_globe id-color" data-animation="fadeInDown" data-delay="600"></i>
                        <h3 class="timer" data-to="20" data-speed="2500">0</h3>
                        <span>Awards Winning</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <!-- section begin -->
    <section id="section-portfolio" aria-label="section-portfolio">
        <div class="container">
            <!-- portfolio filter begin -->
            <div class="row">
                <div class="col-md-12">
                    <h2>Recent Works<span class="tiny-border"></span></h2>
                    <ul id="filters">
                        <li><a href="#" data-filter=".commercial">Commercial</a></li>
                        <li><a href="#" data-filter=".education">Education</a></li>
                        <li><a href="#" data-filter=".hospitaly">Hospitaly</a></li>
                        <li><a href="#" data-filter=".office">Office</a></li>
                        <li><a href="#" data-filter=".residential">Residential</a></li>
                        <li class="pull-right"><a href="#" data-filter="*" class="selected">All Projects</a></li>
                    </ul>
                </div>
            </div>
            <!-- portfolio filter close -->
        </div>

        <div class="container">
            <div class="row">
                <div id="gallery" class="gallery gallery-cols de-gallery sequence pf_3_cols">
                    <!-- gallery item -->
                    <div class="col-md-4 col-sm-6 col-xs-6 item sq-item residential">
                        <div class="picframe wow">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=rwvmru5JmXk">


                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Green House</span>
                                    </span>
                                </span>
                            </a>
                            <img src="Content/assets/images/portfolio/pf%20(1).jpg" alt="" />
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-4 col-sm-6 col-xs-6 item sq-item commercial education">
                        <div class="picframe wow">
                            <a href="project-details-2.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Contemporary Building</span>
                                    </span>
                                </span>
                            </a>
                            <img src="Content/assets/images/portfolio/pf%20(2).jpg" alt="" />
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-4 col-sm-6 col-xs-6 item sq-item commercial hospitaly">
                        <div class="picframe wow">
                            <a href="project-details-3.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Twin Tower</span>
                                    </span>
                                </span>
                            </a>
                            <img src="Content/assets/images/portfolio/pf%20(3).jpg" alt="" />
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-4 col-sm-6 col-xs-6 item sq-item commercial hospitaly">
                        <div class="picframe wow">
                            <a href="project-details-4.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Modern Skyline</span>
                                    </span>
                                </span>
                            </a>
                            <img src="Content/assets/images/portfolio/pf%20(4).jpg" alt="" />
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-4 col-sm-6 col-xs-6 item sq-item office commercial">
                        <div class="picframe wow">
                            <a href="project-details-5.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Modern Office</span>
                                    </span>
                                </span>
                            </a>
                            <img src="Content/assets/images/portfolio/pf%20(5).jpg" alt="" />
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-4 col-sm-6 col-xs-6 item sq-item residential">
                        <div class="picframe wow">
                            <a href="project-details-1.html">
                                <span class="overlay">
                                    <span class="pf_text">
                                        <span class="project-name">Country Side House</span>
                                    </span>
                                </span>
                            </a>
                            <img src="Content/assets/images/portfolio/pf%20(6).jpg" alt="" />
                        </div>
                    </div>
                    <!-- close gallery item -->
                </div>

            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section id="section-features" class="text-light no-padding" data-stellar-background-ratio=".2">
        <div class="color-overlay pt80 pb80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Why Choose Us<span class="tiny-border"></span></h2>
                    </div>
                    <div class="spacer-single"></div>

                    <!-- feature box begin -->
                    <div class="feature-box-small-icon col-md-4 wow fadeIn" data-wow-delay="0">
                        <div class="inner">
                            <span class="icon"><i class="icon_check"></i></span>
                            <div class="text">
                                <h3>Professional Staff</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                            </div>
                        </div>
                    </div>
                    <!-- feature box close -->
                    <!-- feature box begin -->
                    <div class="feature-box-small-icon col-md-4 wow fadeIn" data-wow-delay=".2s">
                        <div class="inner">
                            <span class="icon"><i class="icon_check"></i></span>
                            <div class="text">
                                <h3>Save Time and Money</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                            </div>
                        </div>
                    </div>
                    <!-- feature box close -->
                    <!-- feature box begin -->
                    <div class="feature-box-small-icon col-md-4 wow fadeIn" data-wow-delay=".4s">
                        <div class="inner">
                            <span class="icon"><i class="icon_check"></i></span>
                            <div class="text">
                                <h3>Detailed Estimated</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                            </div>
                        </div>
                    </div>
                    <!-- feature box close -->
                    <div class="spacer-single"></div>
                    <!-- feature box begin -->
                    <div class="feature-box-small-icon col-md-4 wow fadeIn" data-wow-delay=".6s">
                        <div class="inner">
                            <span class="icon"><i class="icon_check"></i></span>
                            <div class="text">
                                <h3>On Time Completion</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                            </div>
                        </div>
                    </div>
                    <!-- feature box close -->
                    <!-- feature box begin -->
                    <div class="feature-box-small-icon col-md-4 wow fadeIn" data-wow-delay=".8s">
                        <div class="inner">
                            <span class="icon"><i class="icon_check"></i></span>
                            <div class="text">
                                <h3>No Hidden Cost</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                            </div>
                        </div>
                    </div>
                    <!-- feature box close -->
                    <!-- feature box begin -->
                    <div class="feature-box-small-icon col-md-4 wow fadeIn" data-wow-delay="1s">
                        <div class="inner">
                            <span class="icon"><i class="icon_check"></i></span>
                            <div class="text">
                                <h3>Zero Complaints</h3>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                            </div>
                        </div>
                    </div>
                    <!-- feature box close -->
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section id="section-news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Latest News<span class="tiny-border"></span></h2>
                </div>

                <ul id="blog-carousel" class="blog-list blog-snippet">
                    <li class="col-md-6 item">
                        <div class="post-content">
                            <div class="date-box">
                                <div class="day">26</div>
                                <div class="month">FEB</div>
                            </div>
                            <div class="post-text">
                                <h3><a href="css/index.html#">5 Things That Take a Room from Good to Great</a></h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    <br>
                                    <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 item">
                        <div class="post-content">
                            <div class="date-box">
                                <div class="day">20</div>
                                <div class="month">FEB</div>
                            </div>
                            <div class="post-text">
                                <h3><a href="css/index.html#">Functional and Stylish Wall-to-Wall Shelves</a></h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    <br>
                                    <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 item">
                        <div class="post-content">
                            <div class="date-box">
                                <div class="day">16</div>
                                <div class="month">FEB</div>
                            </div>
                            <div class="post-text">
                                <h3><a href="css/index.html#">The 5 Secrets to Pulling Off Simple, Minimal Design</a></h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    <br>
                                    <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-6 item">
                        <div class="post-content">
                            <div class="date-box">
                                <div class="day">08</div>
                                <div class="month">FEB</div>
                            </div>
                            <div class="post-text">
                                <h3><a href="css/index.html#">How to Make a Huge Impact With Multiples</a></h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    <br>
                                    <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- section close -->
</div>