﻿@model GEOTN.Model.Models.Page

@{
    ViewBag.Title = "Create";
}

@section Scripts {
    @Scripts.Render("~/Content/bower_components/angular/angular.min.js")
    @Scripts.Render("~/Content/createPage.js")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Content/wysiwyg-editor/js/froala_editor.min.js")
@Scripts.Render("~/Content/wysiwyg-editor/js/plugins/image.min.js")
@Scripts.Render("~/Content/wysiwyg-editor/js/plugins/video.min.js")
@Styles.Render("~/Content/Font-Awesome/css/font-awesome.css")
@Styles.Render("~/Content/wysiwyg-editor/css/froala_style.min.css")
@Styles.Render("~/Content/wysiwyg-editor/css/froala_editor.min.css")
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div ng-app="MyApp"class="form-horizontal">
        <h4>Page</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control textareaContent" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
