﻿@model IEnumerable<GEOTN.Model.Models.Page>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@ViewBag.test
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Alias = item.Alias }) |
            @Html.ActionLink("Details", "Details", new { Alias = item.Alias }) |
            @Html.ActionLink("Delete", "Delete", new { Alias = item.Alias })
        </td>
    </tr>
}
</table>